<div class="register-container">
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Re-enter your password" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <div class="login-link">
        Already have an account? <a href="/login">login</a>
      </div>
  
  </div>
  